body{
	background-color: white;
	/*text-align: center;*/
	}


h1{
	color: rgb(243,194,80);
	text-align: center;
}
.para{
	color: ;
	border-style: groove;
	border-color: rgb(129,226,255);
	border-width: 20px,20px,20px,20px;
	background-color: rgb(155,160,171);
	border-radius: 10px;
	float: left;
	padding: 20px;

}
.b{
	font-size: 25 px;
	/*margin: 20 px;*/
	padding: 4px;
}
#p1{
	/*border-style: groove;
	border-width: 10,10,10,10;
	float: left;*/
	
	max-width: 400px;
	margin: 20px;
}
#b1{
	border-width: 5px;
	border-style: groove;
	background-color: rgb(237,255,142);
	border-radius:5px ;
	border-color: rgb(183,255,200);
	background-color: ;
	max-width: 200px;
	max-height: 100px;
	float: right;
	font-size:;

}
#p2{
	float: ;
	max-width: 400px;
	margin: 20px;

}
#b2{
	border-width: 5px;
	border-style: groove;
	background-color: rgb(237,255,142);
	border-radius:5px ;
	border-color: rgb(183,255,200);
	background-color: ;
	max-width: 200px;
	max-height: 100px;
	float: right;

}
#p3{
	max-width: 400px;
	margin: 20px;

}
#b3{
	border-width: 5px;
	border-style: groove;
	background-color: rgb(237,255,142);
	border-radius:5px ;
	border-color: rgb(183,255,200);
	background-color: ;
	max-width: 200px;
	max-height: 100px;
	float: right;
}
div{
	float:;
	margin: px;
}

/*media Query*/
/* for desktop */
/*
@media (min-width: 992 px){

}
*/

/*for tab*/


/*@media (min-width: 768 px) and ( max-width: 991 px){
	#p3{
		max-width: 1000px;
		max-height: 1000px;
	}
}
*/

/*for mobile */

/*@media (max-width: 767 px{
	.para{
		position: absolute;
		p
		width: 150%;
	}
	.b{

		width: 150%;
	}
	#p3{

		max-height: 1000px;
		max-width: px;
		float: none;
	}

*/