body{
	font-family: 'Lora', serif;
font-family: 'Oxygen', sans-serif;
}

.div{
	height: auto;
	width: auto;
	border: 2px;
	border-style: groove;
	border-radius: 10px;
	border-color: rgb(161,227,255);
	float: left;
	background-color: rgb(167,188,198);
	margin: 25px;
	padding: px;
}
.item{
	background-color: rgb(201,252,113);
	color: rgb(59,235,39);
	border-bottom: 2px;
	border-left: 2px;
	text-align: right;
	max-width: 60px;
	padding: 5px;
	margin: 0px;
	float: right;
	border-bottom: 2px;
	border-left: 2px;
	border-bottom-left-radius: 10px;




}
#h1{
	text-align: left;
	color: rgb(229,114, 27);
	background-color: rgb(255,191,206);
	padding: 20px;
	position: ;
	width: 100%;
	float: left;
}
#h2{
	text-align: center;

	color: rgb(246,56,100);
}
.item-content{
	
	margin-right: 20px;
	margin-left: 20px;
}
.a{
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
nav{
	/*border: 2px;
	border-style: ridge;
	padding: ;
	margin: 10px;*/
	float: left;
	width: 100%;
	height: 40px;
	
	background-color: rgb(172,166,166);
	color:rgb(0, 0, 0) ;*/

}
.nav-li{
	display: inline;
	float: left;


}
.nav-a{
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding-left:50 px ;
	padding-right: 50px;
	color: whitesmoke;
	font-size: 20px;
}
#nav-ul{
	padding: 0;
	margin: 0;
}
.nav-li:hover{
	background-color: rgb(149,137,137);

}

span{
	margin: 0 20px;
	font-size: 28px;
	cursor: pointer;
	display: none;
}

#a1: hover{
	background-color: blue;
	color: yellow;

}
/*******Media Query*******/
/*******large device*******/

@media (max-width:700px ){
	span{
		display: block;
	}
	


.nav-a{
		display:;
	}
#nav-ul{
	display: block;
	display: ;
}
.nav-li{
	display: block;
	float: none;

}
nav{
	height:auto;
}
}